

a { color: var(--accent); }

.flex1 {
	display: flex;
	gap: var(--gap);
	&>* { flex: 1; }
	text-align: center;
}

header {
	position:sticky;
	top:0em;
	margin: var(--gap);
	h1::before {
		display: inline-block;
		content: url("../favicon.svg");
		height: 0.7em;
		width: 0.7em;
		margin-right:1rex;
	}

	z-index: 50;

	h1 {
		margin-block: 0em;
		margin-top: 0em;
		vertical-align:middle;
		white-space-collapse: preserve;	/* not working yet for the favicon */
	}
}

#form-application {

	font-size:1rem;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap);

	button, input { font-size:1rem; }

	fieldset {
		border:none;
		label { vertical-align: middle;}
	}

	.flex1 {
		display: flex;
		/* gap: var(--gap); */
		&>* { flex: 1; }
		text-align: center;
	}


	label:has([type=radio], [type=checkbox]), input[type=file] {
		padding: var(--gap);
		border-radius: var(--gap);
		&:hover {
			outline: 1px dotted var(--border-colour);
		}
	}

	#input-loadfile { grid-column-start: span 2; }

}

main {
	display:grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	textarea {

		font-size:1em;
		border-radius: var(--gap);
		/* scrollbar-width: none; */
		margin-inline: var(--gap);
		width: -moz-available; /*  calc(100% - 4 * var(--gap)); */
		min-height:75vh;
		height:auto;
		margin-block: var(--gap);
		padding: var(--gap);
		tab-size: 4;
	}
}


@supports (width:stretch) {
	main textarea {width:stretch;};
}



#dialog-appInfo {
	&::backdrop { background-image:  url('../favicon.svg'); }
	h1::before { content: url("../favicon.svg"); }
}