

a { color: var(--accent); }



header {
	margin-block:0em;
	h1::before {
		content: url("../favicon.svg") / "HTML experiment icon";
	}
}

#form-application {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);



	fieldset { border:none; }

	.flex1 {
		display: flex;
		/* gap: var(--gap); */
		&>* { flex: 1; }
		text-align: center;
	}


	label:has([type=radio], [type=checkbox]), input[type=file] {
		padding: var(--gap);
		border-radius: var(--gap);
		&:hover {
			outline: 1px dotted var(--border-colour);
		}
	}
}

main {
	display:grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	textarea {
		border-radius: var(--gap);
		scrollbar-width: none;
		margin-inline: var(--gap);
		width: -moz-available; /*  calc(100% - 4 * var(--gap)); */
		min-height:75vh;
		height:auto;
		margin-block: var(--gap);
		padding: var(--gap);
	}
}


@supports (width:stretch) {
	main textarea {width:stretch;};
}



#dialog-appInfo {
	&::backdrop { background-image:  url('../favicon.svg'); }
	h1::before { content: url("../favicon.svg"); }
}